pipeline/pl_ingest_formula1_data.json
{
	"name": "pl_ingest_formula1_data",
	"properties": {
		"activities": [
			{
				"name": "get folder details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dataset_formula1_raw",
						"type": "DatasetReference",
						"parameters": {
							"p_window_end_date": {
								"value": "@pipeline().parameters.p_window_end_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "if_folder_exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get folder details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('get folder details').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ingest_circuit_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula1/delta_lake/ingest_circuits_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_souce')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_demo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_races_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula1/delta_lake/ingest_races_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_souce')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_demo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_drivers_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula1/delta_lake/ingest_drivers_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_souce')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_demo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_lap_times_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula1/delta_lake/ingest_lap_times_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_souce')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_demo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_constructors_files",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula1/delta_lake/ingest_constructors_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_souce')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_demo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_pit_stops_files",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula1/delta_lake/ingest_pit_stops_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_souce')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_demo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_qualifyinng_files",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula1/delta_lake/ingest_qualifying_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_souce')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_demo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest_results_file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula1/delta_lake/ingest_results_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_souce')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_demo",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_data_souce": {
				"type": "String",
				"defaultValue": "Ergast"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-12-21T16:32:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}